{% extends 'base.html' %}

{% block title %} Nuevo Blog {% endblock %}
{% block add_blogs_active %} active {% endblock add_blogs_active %}

{% block css %}
{% endblock %}
{% block body %}
<form action="/add_blogs/" enctype="multipart/form-data" method="POST"> {% csrf_token %}
<div class="container mt-4">
{{ form.as_p }}
<button class="btn btn-primary">Nuevo Blog</button>
</div>
</form>
{% endblock %}
{% block js %}

<!--Muestra de mensaje en pantalla-->
<script>
   {% if alert %}
    alert('Su blog se agregó con éxito.');
    document.location = '/';
    {% endif %}
</script>
{% endblock %}


